.socials{
    list-style: none;
    padding: 0;

    display: flex;
    align-items: flex-end;
}
.socials_element{
 margin: 0 6px;

 &:last-child{
    margin-right: 0;
 }
}


.socials_facebook{
width: 10px;
height: 22px;
fill: green;
}

.socials_twitter{
    width: 26px;
    height: 21px;
    fill: green;
}

.socials_linkedin{
    width: 24px;
    height: 23px;
    fill: green;
}

.socials_google{
    width: 19px;
    height: 22px;
    fill: green;
}




